extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Karen Shea

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Treehouse FSJS Techdegree Student
            | Future MailChimp employee
            | Life-long Learner
            | Cat Mom Extraordinarie

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Pug
          li AJAX
          li APIs
          li jQuery
          li JavaScript
          li CSS
          li HTML
          
        h6 Contact Info

        //- Add your own contact info
        ul
          li 678-464-6617
          li shea.karene@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/karen-shea-689394b0/') LinkedIn
        a.button.expanded(href='https://github.com/sheakaren') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  