extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Karen Shea

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Karen is relatively new to the tech industry. She comes from a background in the arts, having previously studied to get her BFA in Technical Theatre with a (very strong) emphasis in Costume Design and Construction from Columbus State University.
          p
            | With an eye for design, Karen is very excited to embark on this journey of becoming a developer. After a brief career hiatus in which she earned an income by bartending, Karen is ready and excited for the mental challenge of delivering quality websites and apps to clients.
          p
            | Thanks to the awesome team at TalentPath with Treehouse, Karen is on her way to being placed in a job as a Junior Developer at MailChimp in Atlanta. While she is very excited for the prospect of not getting off work at 2am, she is also looking forward to not only bringing her talents to her future team at MailChimp, but continuing to improve her skills by taking on freelance work.
          p
            | Feel free to contact Karen any time at the information listed under Contact Info.

      .cell.portfolio-meta.small-6.medium-2.large-3
        center
          h6 Skills
        a.button.skills Express
        br
        a.button.skills Pug
        br
        a.button.skills Node
        br
        a.button.skills AJAX
        br
        a.button.skills APIs
        br
        a.button.skills jQuery
        br
        a.button.skills JavaScript
        br
        a.button.skills CSS
        br
        a.button.skills HTML
        center  
          h6 Contact Info          
        a.button.contact(href='tel://1-678-464-6617', target='_blank') (678) 464-6617
        a.button.contact(href='mailto:shea.karene@gmail.com?Subject=Let%27s%20Work%20Together%20Soon!', target='_blank') Email
        a.button.contact(href='https://www.linkedin.com/in/karen-shea-689394b0/', target='_blank') LinkedIn
        a.button.contact(href='https://github.com/sheakaren', target='_blank') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  